* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.title {
    text-align: center;   
}

.title h1 {
    font-size: 40px;
    color: #E53170;
}

.title h1, .title p {
    margin: 30px 0px;
}

.card {
    width: calc(100% / 3);
    background-color: #0F0E17;
}

.card-img {
    height: 100px;
    float: left;
}

.card-txt {
    color: #FFF;
    float: left;
}

.email {
    color: #6ECBE3;
}