* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 40px;
    color: #E53170;
}

.title h1, .title p {
    margin: 30px 15px; 
}

.container {
    width: calc(100% / 3);
    float: left;
}

.card {
    background-color: #0F0E17;
    margin: 30px 15px;
}

.card-img {
    height: 100px;
    vertical-align: middle;
}

.card-txt {
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
}

.card-txt p {
    padding-left: 15px;
    line-height: calc((100px - (15px * 2))/ 3);
}

.email {
    color: #6ECBE3;
}